/* Navbar Styles */
.navbar {
  border-bottom: 2px solid black;
  padding: 30px;
}

.navbarList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbarList li {
  margin: 0 20px;
}

.navbarList li a {
    font-weight: 500;
    color: #3E3023;
    font-size: 19px;
    width: 700px;
    margin-bottom: 16px;
    text-decoration: none;
}

.navbarList li a:hover {
  color: #ffffff;
}
