/* Estilos gerais do body */
body {
    font-family: sans-serif;
    background: #fbe5cd;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para títulos */
  h1, h2 {
    text-align: center;
    padding-top: 20px;
    color: black;
  }
  
  /* Estilos para a página principal */
  .home {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para o grid de postagens */
  .post-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr); /* Forçando dois cards por linha */
    margin-bottom: 40px;
  }
  
  /* Estilos para os cards de postagens */
  .post-card {
    background: #FF9A3C;
    padding: 16px;
    color: black;
    border: 2px solid black; /* Borda sólida */
    position: absolute;
    width: 585px;
    height: 656px;
    box-shadow: 5.80357px 5.80357px 0px #000000; /* Sombra */
  }
  
  /* Estilos para as imagens nos cards */
  .post-card img {
    max-width: 100%;
    border-radius: 8px; /* Borda arredondada nas imagens */
  }
  
  /* Estilos para o formulário */
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Estilos para os inputs e botões */
  input,
  textarea,
  button {
    padding: 10px;
    border: none;
    color: black;
  }
  
  /* Estilos para os campos de input e textarea */
  input,
  textarea {
    background: #fff;
  }
  
  /* Estilos para o botão */
  button {
    background: #ED4D1B;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    width: 334.03px;
    height: 56.04px;
    filter: drop-shadow(4px 4px 0px #1E1E1E);
  }
  
  /* Estilo de hover para o botão */
  button:hover {
    background: #ea580c;
  }
  
  /* Estilos para o texto no card */
  .text {
    position: absolute;
    left: 6.47%;
    right: 6.47%;
    top: 30.65%;
    bottom: 28.31%;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  /* Estilo para o título "Lorem ipsum dolor" */
  .lorem-ipsum {
    position: absolute;
    width: 355.75px;
    height: 42.03px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30.7925px;
    line-height: 36px;
    color: #000000;
  }
  
  /* Estilos para a imagem de fundo no card */
  .pic02 {
    box-sizing: border-box;
    position: absolute;
    width: 449px;
    height: 274px;
    background: url(pic02.jpg); /* Substitua com o caminho correto da imagem */
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
  }
  
  /* Estilos para o texto adicional no card */
  .donec-text {
    position: absolute;
    width: 491px;
    height: 94.16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 23.2143px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
  }
  